@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

.main {
  font-family: "poppins",sans-serif;
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  background-image: url("https://imgs.search.brave.com/jZ2KqWCHuOzz3IpltvAOjMuvqI8WSdLsJSwnt5GcPCU/rs:fit:1200:1200:1/g:ce/aHR0cDovL2dldHdh/bGxwYXBlcnMuY29t/L3dhbGxwYXBlci9m/dWxsL2MvOC8yLzE3/OTcyNC5qcGc");
}

.h1 {
  font-size: 60px;
  font-weight: 500;
}

.ul {
  font-size: 30px;
  list-style-type: none;
}

.li {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.li:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s ease-in-out;
}

.hr {
  width: 400px;
  color: black;
  border: 2px solid black !important;
}